{% extends "base.html.twig" %}
{% block title %}Poderes{% endblock %}
{% block body %}
{% if poder and app.user %}
<h1>PODER</h1>
<ul>
    <li>Nombre: {{poder.nombre}}</li>
    <li>Potencia: {{poder.potencia}}</li>
    <li>Color: {{poder.color}}</li>
    <li>Personaje: {{ poder.personaje ? poder.personaje.nombre : '' }}</li>
</ul>
<div id="botones">
    <button id="modificar"><a href="{{ path('editar',{id:poder.id}) }}">Editar</a></button>
    <button id="eliminar"><a href="{{ path('eliminar_poderes',{id:poder.id}) }}">Eliminar</a></button>
</div>
{% else %}
    <h4>NO HAY NINGUN PODER CON ESE ID</h4>
{% endif %}
{% endblock %}
