{% extends 'base.html.twig' %}
{% block title %}PORTADA{% endblock %}
{% block body %}
{% if app.user %}
<header>
    <p>{{ app.user.email }}</p>
    <p><a href="/logout">Logout</a></p>
</header>
{% else %}
<header>
    <p><a href="{{ path('login') }}">Login</a></p>
    <p><a href="{{ path('app_register') }}">Register</a></p>
</header>
{% endif %}
{% if poderes %}
    <h2>PODERES</h2>
    <h4>Bienvenido a la lista de poderes</h4>
    <h1>LISTADO DE PODERES</h1>
    {% for poder in poderes %}
    <ul>
        {% if app.user %}
        <li><strong><a href="{{ path('poderes_show',{id:poder.id}) }}">{{ poder.nombre}}</a></strong></li>
        {% else %}
        <li><strong>{{ poder.nombre}}</strong></li>
        {% endif %}
        <li><strong>Potencia: </strong>{{ poder.potencia}}</li>
        <li><strong>Color: </strong>{{ poder.color}}</li>
        <li><strong>Personaje: </strong>{{ poder.personaje.nombre}}</li>
        <hr>
    </ul>
    {% endfor %}
{% endif %}
{% endblock %}