{% extends 'base.html.twig' %}
{% block title %}PORTADA{% endblock %}
{% block body %}
{% if app.user %}
<p>{{ app.user.email }}</p>
<p><a href="/logout">Logout</a></p>
{% else %}
    <p><a href="/login">Login</a></p>
    <p><a href="/register">Register</a></p>
{% endif %}
{% if poderes and app.user %}
    <h1>PODERES</h1>
    {% for poder in poderes %}
    <ul>
        <li><strong><a href="/poderes/show/{{ poder.id }}">{{ poder.nombre}}</a></strong></li>
        <li><strong>Potencia: </strong>{{ poder.potencia}}</li>
        <li><strong>Color: </strong>{{ poder.color}}</li>
        <li><strong>Personaje: </strong>{{ poder.personaje.nombre}}</li>
        <hr>
    </ul>
    {% endfor %}
{% elseif poderes %}
    <h1>PODERES</h1>
    {% for poder in poderes %}
        <ul>
            <li><strong>{{ poder.nombre}}</strong></li>
            <li><strong>Potencia: </strong>{{ poder.potencia}}</li>
            <li><strong>Color: </strong>{{ poder.color}}</li>
            <li><strong>Personaje: </strong>{{ poder.personaje.nombre}}</li>
            <hr>
        </ul>
    {% endfor %}
{% endif %}
{% endblock %}